@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  width: 200px;
  height: 60px;
  border: 1px solid var(--accent);
  background-color: var(--accent);
  color: #fff;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.btn_line {
  background-color: #fff;
  color: var(--accent);
}

:root {
  --primary: #1a2e35;
  --accent: #fe5454;
  --light: #f7f8f9;
  --mid: #c5c5c5;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--primary);
}

.container {
  position: relative;
  height: 100vh;
}

.input_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  margin: 0 auto;
  display: flex;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

.left {
  width: 560px;
  height: 700px;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 80px 66px;
  display: flex;
  flex-direction: column;
}

.left .input_top {
  margin-bottom: auto;
}

.left .input_top h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--accent);
}

.left .input_top .sns {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 18px;
}

.left .input_top .sns li a {
  width: 40px;
  height: 40px;
  border: 1px solid var(--primary);
  border-radius: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
}

.left .input_box {
  margin-top: 34px;
  margin-bottom: 50px;
}

.left .input_box .inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.left .input_box .inputs input {
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 6px;
  border: 1px solid var(--mid);
}

.left .input_box .input_text {
  margin-top: 16px;
}

/* right */
.right {
  width: 440px;
  height: 700px;
  background-color: #fe5454;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  position: relative;
}

.right .sale_box {
  position: absolute;
  top: 223px;
  left: 50%;
  color: #fff;
  text-align: center;
  transform: translateX(-50%);
  width: 280px;
}

.right .sale_box h2 {
  width: 152px;
  height: 152px;
  font-size: 64px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.2);
  line-height: 152px;
  border-radius: 152px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.right img {
  width: 440px;
  display: block;
}

.right .dots {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 50%;
  gap: 12px;
  transform: translateX(-50%);
}

.right .dots li {
  width: 16px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

.right .dots li.active {
  background-color: #fff;
}
